@import '../../../assets/styles/styles.scss';

.logo {
	@include max-width(800px) {
		margin: 0 auto;
	}
}

.navigation-block {
	display: flex;
	margin-left: auto;

	@include max-width(800px) {
		display: none;
	}

	&__item {
		a {
			color: #fff;
			font-family: 'Poppins', sans-serif;
			font-style: normal;
			font-weight: normal;
			font-size: 17px;
			text-decoration: none;
			transition: all 0.15s ease;

			&.unhover {
				color: #94979e;
			}
		}

		& + & {
			margin-left: 24px;
		}
	}
}

.image-link-block {
	@include max-width(800px) {
		display: none;
	}
}

.header-block .main-button {
	@include max-width(800px) {
		display: none;
	}
}
